streamlit
pandas
plotly
fpdf
streamlit>=1.36
pandas>=2.2
numpy>=1.26
altair>=5.2
streamlit
pandas
python-dateutil
pycountry
reportlab
Babel
streamlit==1.36.0
pandas==2.2.2
scikit-learn==1.4.2
numpy==1.26.4
